body{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: white;
}
.header img {
  float: left;
  width: 100px;
  height: 100px;
}
section{
  background-color:beige;
  padding: 50px 0px 0px 0px;
}
.header {
  overflow: hidden;
  background-color: palevioletred;
  padding: 20px 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#me{
  border-radius: 50%;
  border-width: thick;
}
#titl{
  padding: 20px 0px 20px 0px;
}
#aboutme{
  text-align-last: center;
  background-color:white;
}
p{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 18px;
  font-weight: normal;
}
.card-header,#mi{
  text-align-last: center;
  font-weight: bold;
  font-size: 28px;
  background-color:lightpink;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#abm{
  background-color: mistyrose;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
h1,h2,h5{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  text-align: center;
}
h3{
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  background-color: lightpink;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}
#coln{
  border-width: 0px;
  border-color: black;
  padding: 0px;
  text-align: center;
  background-color: paleturquoise;
}
#material{
  padding:0px 0px 0px 0px;
}